#mainTitle{
    font-size: 2vw;
    color: #ffffff;
    text-align: center;
    margin-top: 2%;
}

#version{
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 1vw;
    color: #ffffff;
    margin-right: 1%;
    margin-bottom: 1%;
}

.gameGrid{
    display: grid;
    grid-template-columns: repeat(3, .32fr);
    grid-gap: 0% 5%;
    margin-top: 0;
    width: 75vw;
    height: 80vh;
    margin-left: 12.5vw;
    margin-right: 12.5vw;
    scroll-behavior: smooth;
    overflow-y: scroll;
    scrollbar-width: none;
    overflow-x:hidden;
}

.body{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(-20deg, #3e3e3e 0%, #1d1d1d 100%);
    overflow: hidden;
    margin: 0;
}
.game{
    background-color: #00000000;
    border: #ccc .25vw solid;
    border-radius: 5%;
    width: 100%;
    height: 10vw;
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
}

#game1{
    content: url('./images/logos/sand.jpg');
}

#game2{
    content: url('./images/logos/pong.jpg');
}

#game3{
    content: url('./images/logos/circleAccuracy.jpg');
}

#game4{
    content: url('./images/logos/CalorieCarnival.jpg');
}

#game5{
    content: url('./images/logos/typeracer.jpeg');
}

#game6{
    content: url('./images/logos/Wordle.jpg');
}

#game7{
    content: url('./images/logos/popularMovie.png');
}

#game8{
    content: url('./images/logos/targetLogo.png');
}
#game9{
    content: url('./images/logos/reactionTime.png');
}

#game10{
    content: url('./images/logos/doubleSnake.png');
}

#game11{
    content: url('./images/logos/sortingAlgorithm.png');
}

#game12{
    content: url('./images/logos/dvdlogo.png');
}

#game13{
    content: url('./images/logos/ChessLogo.jpeg');
}

#game14{
    content: url('./images/logos/ChessLogo2.jpeg');
}

#game15{
    content: url('./images/logos/pianoLogo.jpeg');
}

#game16{
    content: url('./images/logos/bjLogo.png');
}

#game17{
    content: url('./images/logos/gameOfLifeLogo.png');
}

#game18{
    content: url('./images/logos/minesweeper.jpeg');
}

#game19{
    content: url('./images/logos/bouncingBallsLogo.png');
}

#game20{
    content: url('./images/logos/flow1Logo.png');
}

#game21{
    content: url('./images/logos/flowlogo2.png');
}

#game22{
    content: url('./images/logos/paintLogo.png');
}

#game23{
    content: url('./images/logos/fpsLogo.png');
}

#game24{
    content: url('./images/logos/CastleSceneLogo.png');
}

#game25{
    content: url('./images/logos/atmlogo.png');
}

#game26{
    content: url('./images/logos/colorPickerLogo.png');
}

#game27{
    content: url('./images/logos/floatingDotsLogo.png');
}

#game28{
    content: url('./images/logos/2048Logo.png');
}