
@font-face {
    font-family: 'fontBold';
    src: url('./fonts/Aleo-Bold.otf') format('opentype');
}

@font-face {
    font-family: 'fontRegular';
    src: url('./fonts/Aleo-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'fontLight';
    src: url('./fonts/Aleo-Light.otf') format('opentype');
}

body{
    background-color: #00000000;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    display: flex;
    position: absolute;
    user-select: none;
}

.zeroWidthDiv{
    height: 100%;
    width: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}
#background{
    background: url(../images/bgMain.jpg) no-repeat center center;
    background-size: cover;
    /* vignette */
    box-shadow:  inset 0 0 0 100vmax rgba(0, 0, 0, 0.3), inset 0vw 0vw 10vmax 5vmax rgba(0, 0, 0, .5);
    filter: blur(5px) grayscale(100%) brightness(1.3) contrast(.94) saturate(1.0) sepia(60%) hue-rotate(180deg);
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    z-index: -1;
    position: absolute;
}

.mainText{
    position: relative;
    width: 100%;
    height: 0%;
    color: rgb(255, 255, 255);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
#portfolioTag{
    font: 3vmin 'fontLight';
    word-spacing: 0vmin;
    filter: drop-shadow(0 0 1vmin rgba(0, 0, 5, 1)) drop-shadow(0 0 1vmin rgba(0, 0, 5, 1)) drop-shadow(0 0 1vmin rgba(0, 0, 5, 1)) drop-shadow(0 0 1vmin rgba(0, 0, 5, 1));
    letter-spacing: .1vmin;
    margin-top: .5%;
    opacity: 0;
    animation: 1s slideInFromLeft forwards;
    animation-delay: 1s;

}
#portfolioName{
    font: 5vmin 'fontBold';
    word-spacing: .55vmin;
    filter: drop-shadow(0 0 2vmin rgba(0, 0, 5, 0.47)) drop-shadow(0 0 2vmin rgba(0, 0, 5, 0.47)) drop-shadow(0 0 2vmin rgba(0, 0, 5, 0.47)) drop-shadow(0 0 2vmin rgba(0, 0, 5, 0.47));
    letter-spacing: .1vmin;
    animation: 1s slidingFadeInFromLeft;
}

@keyframes slideInFromLeft {
    0% {
        opacity: 0;
        word-spacing: 0vmin;
    }
    100% {
        opacity: 1;
        word-spacing: 1vmin;
    }
}

@keyframes slidingFadeInFromLeft {
    0% {
        transform: translateX(-4%);
        top: -20%;
        opacity: 0;
        letter-spacing: .5vmin;
    }
    100% {
        transform: translateX(0%);
        top: 0%;
        opacity: 1;
        letter-spacing: .1vmin;
    }
}



#tagline{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    flex-direction: column;
    margin-top: 10%;
    margin-bottom: 35%;
}

#email{
    background: #262626;
    animation: .5s popUp forwards;
    animation-delay: 1s;
    transform: translateY(100%);
    transition: margin-top 0.5s ease-out;
}

#email:hover{
    margin-top: 0%;
}

#email-icon{
    content: url("./images/em1.png");
    width: 100%;
    height: auto;
    margin-top: 20%;

}

#github{
    background: #333333;
    animation: .5s popUp forwards;
    animation-delay: 1.3s;
    transform: translateY(100%);
    transition: margin-top 0.5s ease-out;
}

#github:hover{
    margin-top: 0%;
}

#github-icon{
    content: url("./images/gh1.png");
    width: 80%;
    height: auto;
    margin-top: 10%;
}

#linkedin{
    background: #545454;
    animation: .5s popUp forwards;
    animation-delay: 1.6s;
    transform: translateY(100%);
    transition: margin-top 0.5s ease-out;
}

#linkedin:hover{
    margin-top: 0%;
}

#linkedin-icon{
    content: url("./images/li1.png");
    width: 80%;
    height: auto;
    margin-top: 20%;
}

#cv{
    background: #a6a6a6;
    animation: .5s popUp forwards;
    animation-delay: 1.9s;
    transform: translateY(100%);
    transition: margin-top 0.5s ease-out;
}

#cv:hover{
    margin-top: 0%;
    transition: 0.5s;
}

#cv-icon{
    content: url("./images/cv1.png");
    width: 80%;
    height: auto;
    margin-top: 10%;
}

#social-media-icons{
    position: absolute;
    width: 20%;
    height: 5%;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: right;
    align-items: bottom;
    gap: 3%;
    margin: 0;
    margin-right: 1%;
}

@keyframes popUp {
    0% {
        transform: translateY(100%);
    }
    60% {
        transform: translateY(-20%);
    }
    100% {
        transform: translateY(0%);
    }
}

.social-media-button{
    width: auto;
    height: 100%;
    margin-top: 3%;
    border: none;
    aspect-ratio: 1/1;
    background-size: contain !important;
    display: flex;
    justify-content: center;
    align-items:start;
    cursor: pointer;
}

.profile-parent{
    width: auto;
    height: 10%;
    left: 1%;
    top: 1%;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
}

#profileBG{
    height: 100%;
    width: auto;
    aspect-ratio: 1/1;
    background: radial-gradient(circle, rgba(53, 121, 193, .05) 70%, rgba(53, 121, 193, 0.0) 100%);
    border-radius: 50%;
    z-index: -1;
}

#profileImage{
    height: 90%;
    width: auto;
    aspect-ratio: 1/1;
    content: url("./images/me.png");
    filter: drop-shadow(0 0 1vmin rgba(79, 148, 89, 0.5)) drop-shadow(0 0 1vmin rgba(42, 42, 59, 0.1)) drop-shadow(0 0 1vmin rgba(42, 42, 59, 0.1)) drop-shadow(0 0 1vmin rgba(42, 42, 59, 0.6));
}

.navButton {
    --b: 2px;   /* border thickness */
    --s: .3em; /* size of the corner */
    --c: rgba(208, 234, 255, 0.902);
    --c2: rgba(208, 234, 255, 0.902);
    
    padding: calc(.05em + var(--s)) calc(.3em + var(--s));
    color: #ffffff;
    --_p: var(--s);
    background:
      conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--c) 0)
      var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
    transition: .3s linear, color 0s, background-color 0s;
    outline: var(--b) solid #ffffff00;
    outline-offset: .2em;
    width: 25%;
    height: 100%;

    font-family: 'fontLight';
    color: #82acc0;
    font-size: 2vmin;
    cursor: pointer;
    border: none;
    margin: .1em;
    filter: drop-shadow(0 0 1vmin rgba(255, 255, 255, 0.1)) drop-shadow(0 0 1vmin rgba(255, 255, 255, 0.1)) drop-shadow(0 0 1vmin rgba(255, 255, 255, 0.1)) drop-shadow(0 0 1vmin rgba(255, 255, 255, 0.1));
}
.navButton:hover,
.navButton:focus-visible{
    --_p: 0px;
    outline-color: var(--c);
    outline-offset: .05em;
}
.navButton:active {
    background: var(--c2);
    color: rgb(0, 0, 0);
}

.navButtonDD{
    position: relative;
    --b: 2px;   /* border thickness */
    --s: .3em; /* size of the corner */
    --c: rgba(208, 234, 255, 0.902);
    --c2: rgba(208, 234, 255, 0.902);
    
    padding: calc(.05em + var(--s)) calc(.3em + var(--s));
    color: #ffffff;
    --_p: var(--s);
    background:
      conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--c) 0)
      var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
    transition: .3s linear, color 0s, background-color 0s;
    outline: var(--b) solid #ffffff00;
    outline-offset: .2em;
    width: max-content;
    height: 33%;

    font-family: 'fontLight';
    color: #82acc0;
    font-size: 2vmin;
    cursor: pointer;
    border: none;
    margin: .1em;
    filter: drop-shadow(0 0 1vmin rgba(255, 255, 255, 0.1)) drop-shadow(0 0 1vmin rgba(255, 255, 255, 0.1)) drop-shadow(0 0 1vmin rgba(255, 255, 255, 0.1)) drop-shadow(0 0 1vmin rgba(255, 255, 255, 0.1));
}

.navButtonDDH{
    position: relative;
    --b: 2px;   /* border thickness */
    --s: 0px; /* size of the corner */
    --c: rgba(208, 234, 255, 0.902);
    --c2: rgba(208, 234, 255, 0.902);
    
    padding: calc(.05em + var(--s)) calc(.3em + var(--s));
    color: #ffffff;
    --_p: var(--s);
    background:
      conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--c) 0)
      var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
    transition: .3s linear, color 0s, background-color 0s;
    outline: var(--b) solid #ffffff00;
    outline-offset: .2em;
    width: 100%;
    height: 33.33%;

    font-family: 'fontLight';
    color: #82acc0;
    font-size: 2vmin;
    cursor: pointer;
    border: none;
    margin: .1em;
    filter: drop-shadow(0 0 1vmin rgba(255, 255, 255, 0.1)) drop-shadow(0 0 1vmin rgba(255, 255, 255, 0.1)) drop-shadow(0 0 1vmin rgba(255, 255, 255, 0.1)) drop-shadow(0 0 1vmin rgba(255, 255, 255, 0.1));
}

.navButtonDD:hover,
.navButtonDD:focus-visible{
    --_p: 0px;
    outline-color: var(--c);
    outline-offset: .05em;
}


.navButtonDD1{
    position: relative;
    --b: 2px;   /* border thickness */
    --s: .3em; /* size of the corner */
    --c: rgba(208, 234, 255, 0.902);
    --c2: rgba(208, 234, 255, 0.902);
    
    padding: 0;
    color: #ffffff;
    --_p: var(--s);
    background:
      conic-gradient(from 90deg at var(--b) var(--b),#000000 90deg,var(--c) 0)
      var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
    transition: .3s linear, color 0s, background-color 0s;
    outline: var(--b) solid #ffffff00;
    outline-offset: .2em;
    width: auto;
    height: 50%;

    font-family: 'fontLight';
    color: #82acc0;
    font-size: 2vmin;
    cursor: pointer;
    border: none;
    margin: 0;
    filter: drop-shadow(0 0 1vmin rgba(255, 255, 255, 0.1)) drop-shadow(0 0 1vmin rgba(255, 255, 255, 0.1)) drop-shadow(0 0 1vmin rgba(255, 255, 255, 0.1)) drop-shadow(0 0 1vmin rgba(255, 255, 255, 0.1));

    --_p: 0px;
    outline-color: var(--c);
    outline-offset: .05em;
    z-index: 10;
}


#dropDown{
    position: absolute;
    width: 0%;
    height: 200%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: -10%;
    margin: .1em;
    --s: .3em; 
    padding: calc(.05em + var(--s)) calc(.3em + var(--s));
    top: -14%;
}

#drop{
    width: auto;
    height: 0%;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    gap: -1%;
}

.navButtonCurrent{
    --b: 2px;   /* border thickness */
    --s: .3em; /* size of the corner */
    --c: #ffcece00;
    
    padding: calc(.05em + var(--s)) calc(.3em + var(--s));
    --_p: 0px;
    background:
      conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--c) 0)
      var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
    width: 25%;
    height: 100%;
    filter: drop-shadow(0 0 .7vmin rgba(74, 186, 246, 0.1)) drop-shadow(0 0 .7vmin rgba(74, 186, 246, 0.1)) drop-shadow(0 0 .7vmin rgba(74, 186, 246, 0.1)) drop-shadow(0 0 .7vmin rgba(74, 186, 246, 0.1));
    color: rgb(255, 255, 255);
    font-size: 2vmin;
    cursor: pointer;
    border: none;
    margin: .1em;
    outline: var(--b) solid #ffffff00;
    outline-offset: .2em;
    text-shadow: 0 0 1vmin rgb(74, 186, 246) , 0 0 1vmin rgb(74, 186, 246), 0 0 1vmin rgb(74, 186, 246), 0 0 1vmin rgb(74, 186, 246);
    transition: .3s linear, background-color 0.5s;
}

.navButtonCurrent:hover,
.navButtonCurrent:focus-visible{
    --_p: var(--s);
    --c: rgba(102, 102, 102, 0.902);
    filter: drop-shadow(0 0 .5vmin rgba(74, 186, 246, 0.1)) drop-shadow(0 0 .5vmin rgba(74, 186, 246, 0.1)) drop-shadow(0 0 .5vmin rgba(74, 186, 246, 0.1)) drop-shadow(0 0 .5vmin rgba(74, 186, 246, 0.1));
}

#content{
    width: 100%;
    height: 85%;
    top: 10%;
    position: relative;
    overflow: hidden;
    mask-image: linear-gradient(180deg, transparent 0%, #000 10%, #000 95%, transparent 100%);
}
#scroller{
    width: 100%;
    height: auto;
    top: 0%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#navBar{
    width: 35%;
    height: 5%;
    display: flex;
    position: absolute;
    top: 2%;
    right: 2%;
    background: #00000000;
    gap: 3%;
}

#home{
    margin-left: 200%;
    margin-right: 0%;
    animation: 1s MoveIn forwards;
    animation-delay: 0.75s;
    flex: 1;
}

#games{
    margin-left: 100%;
    margin-right: 0%;
    animation: 1s MoveIn forwards;
    animation-delay: 1s;
    flex: 1;
}

#dropDown{
    margin-left: 200%;
    margin-right: 0%;
    animation: 1s MoveIn forwards;
    animation-delay: 1.25s;
    flex: 1;
}

#skills{
    margin-left: 100%;
    margin-right: 0%;
    animation: 1s MoveIn forwards;
    animation-delay: 1.5s;
    flex: 1;
}

#about{
    margin-left: 100%;
    margin-right: 40%;
    animation: 3s MoveInLast forwards;
    animation-delay: 2s;
    flex: 1;
}

@keyframes MoveIn {
    0% {
        margin-left: 100%;
    }
    100% {
        margin-left: 0%;
    }
}

@keyframes MoveInLast {
    0% {
        margin-left: 100%;
        margin-right: 40%;
    }
    40% {
        margin-left: 0%;
        margin-right: 40%;

    }
    100% {
        margin-left: 0%;
        margin-right: 0%;
    }

}