@font-face {
    font-family: 'si';
    src: url('fonts/pixel\ font-7.ttf') format('truetype');
}

@font-face {
    font-family: 'oi';
    src: url('fonts/SLABS\ THIN.otf') format('opentype');
}

@font-face {
    font-family: 'hla';
    src: url('fonts/Exo2.ttf') format('truetype');
}

@font-face {
    font-family: 're';
    src: url('fonts/coocoo.ttf') format('truetype');
}

@font-face {
    font-family: 're-bold';
    src: url('fonts/coocoo-Bold.ttf') format('truetype');
}


@font-face {
    font-family: 'portal-bold';
    src: url('fonts/Nordnet\ Sans\ Extrabold.otf') format('opentype');
}

@font-face {
    font-family: 'portal';
    src: url('fonts/Nordnet\ Sans\ Light.otf') format('opentype');
}


.underline-animation {
    flex: 1;
    /* display: inline-block; */
    /* position: relative; */
    color: rgb(244, 239, 255); 
    font-size: 1.5vw;
    width: 100%;
    height: 50%;
    margin-top: 1.25%;
    margin-bottom: 0%;
    text-align: center; 
    align-self: center;
    user-select: none;
    text-wrap: nowrap;
}
#underliner{
    margin-bottom: 0%;
    background: 
    linear-gradient(180deg, #bcaef5 0%, #bcaef5 14%, transparent 14%, transparent 100%);

    width: 10%;
    height: 50%;

    transform-origin: bottom right;
    animation: fadeIn 4s cubic-bezier(0.19, 1, 0.22, 1);
}

.nameHolder{
    flex: 1;
    scale: 1;
    height: 2vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
  
/* .underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(1);
    height: .15vw;
    bottom: 0;
    left: 0;
    background-color: #bcaef5;
    transform-origin: bottom right;
    animation: fadeIn 4s cubic-bezier(0.19, 1, 0.22, 1);
  } */
  
.body {
    overflow: hidden;
    user-select: none;
    font-family: "si";
    margin: 0;
}

.profile-parent{
    flex: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    height: 40%;
}
.profile-image{
    flex: 1;
    width: 95%;
    height: 95%;
    margin-left: 2.5%;
    margin-top: 2.5%;

    z-index: 2;
    content: url("images/me.png");
}

.profile-image-background{
    flex: 1;
    width: 100%;
    height: 100%;
    margin-top: 0%;
    z-index: 1;
    border-radius: 50%;
    background-image:
    linear-gradient(-90deg, #bcaef5 50%, transparent 50%),
    linear-gradient(-90deg, #c93131 50%, #bcaef5 50%),
    linear-gradient(90deg, #bcaef5 50%, transparent 50%);
}

.profile-image-spin{
    flex: 1;
    width: 95%;
    height: 95%;
    margin-left: 2.5%;
    margin-top: 2.5%;

    z-index: 2;
    content: url("images/me.png");
    
    animation: spin 5s ease-in-out;
}

/* backgrounds */
.background{
    width: 100%;
    height: 100%;
    box-shadow: inset 0 0 10vh 8vh rgba(0, 0, 0, .923);
    position: fixed;
    z-index: -100;
    display: block;
}

#indexbg{
    background: url('images/bg.jpg') repeat center center fixed;
    background-size:contain;
}

#aboutbg{
    background: url('images/hla.jpg') no-repeat center center fixed;
    background-size:cover;
    filter: blur(.6vh);
}

#gamesbg{
    background: url('images/pacman.jpg') no-repeat center center fixed;
    background-size: cover;
    filter: blur(.6vh);
    padding-bottom: 8%;
    margin-top: -10%;
}

#projectsbg{
    background: url('images/portal.jpg') no-repeat center center fixed;
    background-size: cover;
    filter: blur(.6vh);
}

#skillsbg{
    background: url('images/re.jpg') no-repeat center center fixed;
    background-size: cover;
    filter: blur(.4vh);
}


/* backgrounds */




/* skills */
#skillsProgramingLanguages{
    position: relative;
    width: 100%;
    height: 5%;
    margin-top: 1.5%;
    margin-bottom: -1%;
    text-align: center;
    font-size: 1.5vw;
    color: rgb(191, 195, 216);
    z-index: 1;

}
#skillBG{
    width: 70%;
    height: 70%;
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 1%;
    box-shadow: 0 0 2vw .1vw rgba(10, 31, 44, 0.923);
    margin-top: 7.5%;
    margin-left: 15%;
    position: absolute;
    font-family: "re";
    z-index: 1;
}

#reAmmo{
    position: absolute;
    width: 10vw;
    height: 3vw;
    margin-bottom: 1%;
    margin-right: 5%;
    right:0;
    bottom: 0;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 12%, rgba(0,0,0,1) 85%, rgba(144,188,196,0) 100%);
    border-radius: 15%;
    font-size: 0.7vw;
}

#reAmmoNum1{
    position: absolute;
    text-align: center;
    color: rgb(0, 204, 255);
    font-size: 250%;
    font-family: "re";
    font-weight: 10; 
    margin-left: 30%;
    margin-top: 3%;
    font-size: 1.6vw
}
#reAmmoNumm{
    position: absolute;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 250%;
    font-family: "re";
    font-weight: 10; 
    margin-left: 47%;
    margin-top: 3%;
    font-size: 1.6vw;
}

#reAmmoNum2{
    position: absolute;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 200%;
    font-family: "re";
    font-weight: 10; 
    margin-left: 55%;
    margin-top: 8%;
    font-size: 1.1vw
}

.skillScroll{
    position: absolute;
    width: .5%;
    height: 80%;

    right: 0;
    margin-top: 0%;
    margin-right: 2%;
    margin-bottom: 2%;
    writing-mode: vertical-lr;

    -webkit-appearance: none;
    appearance: none;

    background: #3d3d3dbb;
    outline: none;
    opacity: 1;

    z-index: 100;

}

.skillScroll::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: .2vw;
    height: 9vw;
    background: #ffffff;
    cursor: pointer;
    opacity: .4;
    -webkit-transition: .2s;
    transition: opacity .2s;


}


.skillScroll:hover::-webkit-slider-thumb{
    opacity: 1; 
}

.skillSub{
    position: relative;
    width: 100%;
    height: 4%;
    color: rgb(191, 195, 216);
    font-size: 1.5vw;
    margin-top: 2%;
    margin-left: 2%;
}

.sliderHolder{
    display: flex;
    width: 100%;
    height: 2vw;
}
.sliderText{
    flex: 1;
    position: relative;
    width: 13%;
    max-width: 13%;
    min-width: 13%;
    height: 2%;
    color: rgb(60, 72, 135);
    text-align: left;
    font-size: 1vw;
    font-weight: 200;
    margin-top: .5vw;
    margin-bottom: .5vw;
    margin-left: 2%;
    margin-right: 2%;

    font-family: "re-bold";
}

.slid{
    position: relative;
    width: 80%;
    max-width: 80%;
    min-width: 80%;
    height: 100%;
    margin-top: 0%;
    margin-bottom: 0%;
    margin-left: 0%;
    border: none;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    content: url("images/sliderBar.png");
    clip-path: inset(100% 0% 0% 0%);
}

.sliderVal{
    flex: 1;
    position: relative;
    width: 5%;
    max-width: 5%;
    min-width: 5%;
    height: 100%;
    min-height: 100%;
    max-height: 100%;
    color: rgb(60, 72, 135);
    text-align: center;
    font-size: 1vw;
    font-weight: 200;
    margin-top: .5vw;
    margin-bottom: .5vw;
    margin-left: -81%;
    font-family: "re-bold";
}

.slider{
    flex: 1;
    position: relative;
    width: 100vw;
    height: 1vw;
    margin-top: 1%;
    margin-left: 0%;
    margin-right: 2%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    user-select: none;
}

.sliderBar{
    position: relative;
    height: 0%;
    width: 0.28%;
    max-width: 0.28%;
    min-width: 0.28%;
    background: #3f5a89;

    border-radius: 1vw;
    margin-top: 1.6%;
    margin-left: 0.3%;
    margin-right: 0.3%;
    align-self: flex-end;
    
    flex: 1;
    /* animation: barStart 5s cubic-bezier(0.19, 1, 0.22, 1) forwards; */
}

.sliderBarNormal{
    position: relative;
    height: 1%;
    width: 0.3%;
    max-width: 0.3%;
    min-width: 0.3%;
    background: #c93131;

    border-radius: 1vw;
    margin-top: 1.6%;
    margin-left: 0.3%;
    margin-right: 0.3%;
    align-self: flex-end;
    
    flex: 1;
}
/* skills */

.pacman-pellets {
    position: absolute;
    width: 2%;
    height: 87.5%;
    right: 0;
    margin-right: 1.5%;
    margin-top: 4%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3%;
}

.pellet {
    flex: 1;
    width: 1.1vw;
    height: 0.5vw;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    z-index: 0;
}

.pacman{
    position: absolute;
    right: 0;
    width: 5vw;
    height: 5vw;
    rotate: 180deg;
    top: 2.85vh;
    scale: .6;
    border-radius: 50%;
    z-index: 1;
    background: linear-gradient(-90deg, #f2ff00 50%, transparent 50%),
    linear-gradient(0deg, #f2ff00 50%, transparent 50%),
    linear-gradient(90deg, #f2ff00 50%, transparent 50%);

}
.GamePanel{
    margin-top: 2%;
    margin-bottom: 2%;
    padding-bottom: 10%;
    padding-top: 10%;
    margin-left: 10%;
    width: 80%;
    height: 600%;
    background:rgba(0, 0, 0, 0.45);
    box-shadow: #00000058 0px 0px 1vw 1vh;
}
.Games{
    overflow: hidden;
    position: relative;
    margin-left: 0%;    
    margin-top: 2%;
    margin-bottom: 30%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction:column;
    align-self:center;
    justify-content: center;
    user-select: none;
}
#glizzyGobblerNES{
    margin-left: 20%;
    content: url("images/ggGame.png");
}
#sirBallUpNES{
    margin-left: 80%;
    content: url("images/sbuGame.png");
}

.openOnSteam{
    background: url("images/steam.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 8vw;
    height: 2.5vw;
    margin-top: 9%;
    margin-bottom: 2%;
    margin-left: -4%;
    margin-right: 5%;
    z-index: 1;
    position: absolute;
    background-color: rgba(0, 0, 0, 0);
    border: none;
}
.openOnSteam:hover{
    animation: hoverSteam 1s forwards;
}
.game{
    flex: 1;
    margin-left: 20%;
    width: 1%;
    height: 1.825%;
    margin-top: 0%;
    margin-bottom: 0%;
    /* size: 100% 100%; */
    z-index: 1;
    scale: 18;
}

.info{
    position: relative;
    width: 17%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: start;
    flex-wrap: wrap;
    justify-content: center;
    user-select: none;
    margin-top: 14%;
    scale: 1.75;
    margin-left: 12.5%;
    font-family: "oi";
}

.infosbu{
    position: relative;
    width: 17%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: start;
    flex-wrap: wrap;
    justify-content: center;
    user-select: none;
    margin-top: 14%;
    scale: 1.75;
    margin-left: 70%;
    font-family: "oi";
}

.infoPanel{
    position: relative;
    height: 100%;
    background-color: rgb(67, 65, 69);
    border-top-left-radius: 10%;
    border-bottom-left-radius: 10%;
    width: 12%;
    text-align: center;
    font-size: .4vw;
    color: white; 
    margin-left: 2%;
}
.infoText{
    position: relative;
    height: 100%;
    border-top-right-radius: 10%;
    border-bottom-right-radius: 10%;
    width: 10%;
    text-align: center;
    font-size: .4vw;
    color: white; 
    /* margin-top: -.92%; */
    /* margin-left: 6%; */
}


.gameDescriptionText{
    position: absolute;
    width: 30%;
    height: 20%;
    user-select: none;
    margin-top: 2%;
    margin-left: 1.5%;
    font-family: "oi";
    text-align: center;
    color: rgb(184, 184, 184);
    flex: 1;
    letter-spacing: 3px;
    font-size: .6vw;
}

#sbuDescription{
    margin-left: 60% !important;
}
#ggBuild{
    width: 20%;
}

#ggBuildDate{
    background-color: blueviolet;
    width: 15%;
}

#ggEngine{
    width: 16%;
}

#ggEngine{
    width: 15%;
}

#ggEngineType{
    background-color: rgb(132, 37, 51);
    width: 12%;
}

#ggLanguage{
    width: 19%;
}
#ggLanguageType{
    background-color: rgb(77, 179, 135);
    width: 12%;
}

#ggLevel{
    width: 25%;
}

#ggLevelType{
    background-color: rgb(185, 64, 155);
    width: 4%;
}

#ggCore{
    width: 28%;
}

#ggCoreType{
    background-color: rgb(125, 101, 43);
    border-top-right-radius: 3%;
    border-bottom-right-radius: 3%;
    width: 33%;
}


#sbuCoreType{
    background-color: rgb(125, 101, 43);
    border-top-right-radius: 3%;
    border-bottom-right-radius: 3%;
    width: 39%;
}


#social-media-icons {
    flex: 1;
    margin-top: 0vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 40vh;
    height: 25%;
    gap: 9%;
}

.social-media-icon {
    flex:1;
    width: 100%;
    height: 100%;
    transition: transform 0.5s;
}

.social-media-icon:hover {
    flex:1;
    transform: rotate(30deg) scale(1.05) translate(0%, -5%);
}

.social-media-button {
    background-color:rgba(0, 0, 0, 0);
    border: none;
    padding: 0vw 0vw 0vw 0vw;
    border-radius: 0%;
    margin: 0px;
    width: auto;
    height: 50%;
}
#header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 40vh;
    min-height: 40vh;
    max-height: 40vh;
    position:relative;
    gap: 0%;
    z-index: 100;
}
#content-container {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: center;
    width: 70vw;
    height: 25%;
    margin: 0px;
    position:relative;
}
.page-button {
    margin-left: 1.75vw; 
    margin-right: 1.75vw; 
    background-color: rgba(0, 0, 0, 0); 
    border: none;
    background-image: url('images/old_school_button.png');
    font-family: "si";
    font-size: 1.5vw;
    background-size: 100% 100%;
    width: 25%;
    height: 2.7vw;
    transform: scale(1.1);
    animation: increaseSize 1s;
}

.page-button-fall-left {
    margin-top: 0px;
    background-color: rgba(0, 0, 0, 0); 
    border: none;
    background-image: url('images/old_school_button.png');
    background-repeat: no-repeat;
    font-family: "si";
    font-size: 30px;
    background-size: 100% 100%;
    width: 10%;
    height: 100%;
    scale: .5;
    animation: fallLeft 3.3s forwards; 
}

.page-button-fall-right {
    /* margin-left: 45px; 
    margin-right: 45px;  */
    margin-top: 0px;
    background-color: rgba(0, 0, 0, 0); 
    border: none;
    background-image: url('images/old_school_button.png');
    background-repeat: no-repeat;
    font-family: "si";
    font-size: 30px;
    background-size: 100% 100%;
    width: 10%;
    height: 100%;
    scale: .5;
    animation: fallRight 5s forwards; 
}


.page-button:hover{
    transform: translate(2%, 6%) scale(1.05);
}


.player-image {
    width: 7%;
    height: 5%;
    margin-top: .5%;
    margin-bottom: .5%;
    position: fixed;
    bottom: .5%;
    z-index: 2;
    content: url("images/player.png"); 
}

.bullet-image {
    width: .35%;
    height: 5%;
    margin-top: .5%;
    margin-bottom: .5%;
    position: fixed;
    bottom: .5%;
    color: white;
    background-color: white;
    z-index: -99;

}

.slideshow{
    position: absolute;
    width: 50%;
    height: 29vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    user-select: none;
    margin-top: -25%;
    margin-bottom: 2%;
    margin-left: 29%;
    right: 1;   
    scale: .8;
}

.slideshowsbu{
    position: absolute;
    width: 50%;
    height: 29vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    user-select: none;
    margin-top: -25%;
    margin-bottom: 2%;
    margin-left: 0%;
    right: 1;   
    scale: .8;
}


.main-cell{
    background: #6918ac0d;
    width: 100%;
    height: 1%;
    flex: 1;
}
.picture-cell{
    width: 100%;
    height: 6%;
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    user-select: none;
    margin-top: 50%;
    scale: .3;
    position: absolute;
    
}

.picture-cell-sbu{
    width: 90%;
    height: 6%;
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    user-select: none;
    margin-top: 50%;
    scale: .3;
    position: absolute;
    
}

.imageButton{
    background: #ffffff;
    width: 10%;
    height: 175%;
    flex: 1;
    display: flex;
    border-radius: 50%;
    user-select: none;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
}
.main-photo{
    position: absolute;
    width: 85%;
    height: 85%;
    margin-top: -4%;
    box-shadow: inset 0 0 8vh .26vh rgba(0, 0, 0, .923);
}

.main-video{
    position: absolute;
    width: 85%;
    height: 85%;
    margin-top: -4%;
    box-shadow: inset 0 0 8vh 2vh rgba(0, 0, 0, .923);

}

#b1{
    background-color: #c93131;
}

#sbub1{
    background-color: #c93131;
}

#ggPicture{
    background: url("images/gg1.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#sbuPicture{
    background: url("images/sbu1.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.goHome-about{
    position:absolute;
    scale: 5;
    width: .65vw;
    min-width: .65vw;
    max-width: .65vw;
    height: .65vw;
    border-radius: 20%;
    border: none;
    margin-left:1%;
    margin-top: 1%;
    background: url("images/home.png");
    background-size: 80% 80%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.goHome{
    position:absolute;
    scale: 5;
    width: .65vw;
    min-width: .65vw;
    max-width: .65vw;
    height: .65vw;
    border-radius: 20%;
    border: none;
    margin-left:1%;
    margin-top: -1%;
    background: url("images/home.png");
    background-size: 80% 80%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.goHome:hover{
    animation: hoverHome 1s forwards;
}

.goHome-about:hover{
    animation: hoverHome 1s forwards;
}

.aboutTitle{
    position: absolute;
    width: 22.85%;
    flex: 1;
    user-select: none;
    margin-top: 2%;

    font-weight: 300;
    font-size: 2vw;
    color: white;
    text-align: center;
    text-decoration:underline;

}


#aboutBackground{
    font-family: "hla";
    position: absolute;
    width: 65%;
    margin-left: 17.5%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: -99;
}

#aboutContainer{
    align-self: center;
    flex-direction: row;
    display: flex;
    align-items: start;
    justify-content: center;
}

#portfolio-home{
    margin-left: 0%;
    margin-top: 0%;
}

#portfolio-games{
    margin-left: 3%;
    margin-top: -1.82%;
}

#portfolio-about{
    margin-left: 3%;
    margin-top: 0.2%;
}

.portfolio {
    position: absolute;
    color: white;
    text-align: left;
    font-size: 1.5vw;
    font-family: "oi";
    font-size: 1vw;
    width: 18%;
}


.aboutPhoto{
    position: relative !important;
    background-repeat: no-repeat !important;
    background-size:contain !important;
    z-index: 1 !important;
}
#aboutPhoto1{
    content: url("images/me1.jpg");
    width: 100%;
    height: auto;
    scale: .85;
    margin-bottom: 0;
}

#aboutPhoto2{
    content: url("images/me3.jpg");
    width: 100%;
    height: auto;
    scale: .65;
}

#aboutPhoto3{
    content: url("images/me2.jpg");
    width: 100%;
    height: auto;
    scale: .65;
    margin-top: 20%;
}


#aboutText{
    width: 87%;
    height: 10%;
    max-height: 10%;
    display: flex;

    flex: 1;
    color: rgb(255, 255, 255);
    text-align: left;
    font-weight: 180;
    font-size: .85vw;
    text-align:justify;
    text-justify: newspaper;
}

.wip{
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 20%;

    width: 200%;
    max-width: 200%;
    min-width: 200%;

    color: white;
    margin-top: 30%;
    text-align: center;
    font-size: 100%;
    white-space: pre;
    scale: 1;
    text-decoration:dashed;
}

#rnpText{
    margin-top: 0.2%;
    margin-bottom: 0.2%;
    margin-left: 0%;
    width: 100%;
    text-wrap: nowrap;
    text-align: center;
    font-size: .9vw;
}
#rnp{
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: 1.5vw;
}
#hp{
    position: relative;
    flex: 1;

    display: inline-block;
    content: url("images/hp.png");


    width: 12.5%;
    max-width: 12.5%;
    height: 100%;
    border: none;
}

#divider1{
    position: absolute;
    flex: 1;

    margin-left: -50%;

    background-color: #ffffffae;
    border-radius: 50%;
    width: 50vw;
    min-width: 50vw;
    max-width: 50vw;

    height: .2%;
    max-height: .2%;
    min-height: .2%;

    margin-bottom: 10%;
    margin-top: 44%;
}

#divider2{
    position: absolute;
    flex: 1;

    margin-left: -50%;

    background-color: #ffffffae;
    border-radius: 50%;
    width: 50vw;
    min-width: 50vw;
    max-width: 50vw;

    height: .2%;
    max-height: .2%;
    min-height: .2%;

    margin-bottom: 10%;
    margin-top: 100%;
}

#skillContainerMask{
    overflow-y: hidden;
    overflow-x: hidden;
    height: 85%;
    margin-top: 2%;
}

#hpNum{
    position: relative;
    flex: 1;

    font-size: 2vw;
    font-weight: 200;
    margin-left: 2%;
    align-self: center;
    width: 23%;
    max-width: 23%;
    font-family: "hla";
    color: rgb(255, 183, 0);
}

#hev1{
    position: relative;
    flex: 1;

    display: block;
    content: url("images/hev1.png");

    width: 10%;
    max-width: 10%;
    height: 100%;

    margin-left: 5%;

    z-index: 31;
    clip-path: inset(0% 0% 100% 0%);

}

#hev2{
    position: relative;
    flex: 1;

    display: block;
    content: url("images/hev2.png");
    width: 10%;
    max-width: 10%;
    height: 100%;

    margin-left: -10%;
    z-index: 2;
}

#hevNum{
    position: relative;
    flex: 1;

    font-size: 2vw;
    font-weight: 200;
    font-family: "hla";
    color: rgb(255, 183, 0);
    margin-left: 0.5vw;
    align-self: center;
    width: 10%;
    max-width: 10%;
}

#splitBar{
    position: relative;
    flex: 1;

    background-color: #ff9d00ae;
    width: 1.5%;
    max-width: 1.5%;
    height: 100%;
    /* margin-bottom: .25vw; */ 
}

.hlHolder{
    position: absolute;
    flex-direction: row;
    display: inline-flex;
    
    align-items: left;
    justify-content: left;
    
    /* gap: 1%; */
    margin-left: 0.5%;
    margin-bottom: .5%;
    bottom: 0;

    width: 17vw;
    height: 2vw;
}

#aboutText{
    width: 87%;
    min-height: 30%;
    margin-left: 15%;
    display: flex;

    flex: 1;
    color: rgb(255, 255, 255);
    text-align: left;
    font-weight: 180;
    font-size: .85vw;
    text-align:justify;
    text-justify: newspaper;
    text-align: center;
    vertical-align: center;
    white-space: pre;
}

#aboutText2{
    height: 10%;
    display: flex;

    flex: 1;
    color: rgb(255, 255, 255);
    width: 75%;
    text-align: left;
    font-weight: 180;
    font-size: .85vw;
    text-align:justify;
    text-justify: newspaper;
    margin-left: -1.0vw;
    margin-bottom: -14%;

}


#aboutSubtitle1{
    color: rgb(255, 255, 255);
    text-align: left;
    font-weight: 260;
    font-size: 2vw;
    flex: 1;
    width: 80%;
    height: 6%;
    max-height: 6%;
    margin-top: 6%;
    margin-bottom: 0%;
    margin-left: 11%;
}

#aboutSubtitle2{
    color: rgb(255, 255, 255);
    text-align: left;
    font-weight: 260;
    font-size: 2vw;
    flex: 1;
    width: 80%;
    height: 6%;
    max-height: 6%;
    margin-top: 4%;
    margin-bottom: 0%;
    margin-left: 2%;
}




#aboutLeft{
    width: 50%;
    height: 90%;
    margin-top: 10%;
    flex: 1;

    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: flex-start;
}

#aboutRight{
    width: 50%;
    height: 90%;
    margin-top: 10%;
    right: 0;
    flex: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:start;
}




/* projects */

.projects{
    overflow: hidden;
    position: absolute;
    width: 65%;
    height: auto;
    margin-left: 20%;
    margin-right: 20%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;   

    transform: translateY(-13.5%);
}

.ProjectPanel{
    flex: 1;
    position: relative;
    margin-left: 2.5%;
    width: 95%;
    height: 35vw;
    min-height: 35vw;
    max-height: 35vw;
    background:rgba(0, 0, 0, 0.45);
    box-shadow: #00000058 0px 0px 1vw 1vh;
    display: flex;
    flex-direction: column;
    align-self:flex-start;
    justify-content: center;
    user-select: none;
    flex-wrap: nowrap;
    margin-bottom: 5%;
    margin-top: 5%;
}

.sideWall{
    position: absolute;
    width: .1%;
    height: 90%;
    background-color: #ffffff;
    margin-top: 0%;
    margin-right: 0%;
    z-index: 1;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 10%, rgba(255, 255, 255, 1) 90%, rgba(255, 255, 255, 0) 100%);
}

.wallBottom{
    position: absolute;
    width: 100%;
    height: .1vw;
    background-color: #ffffff;
    margin-top: 65%;
    margin-right: 0%;
    z-index: 1;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 10%, rgba(255, 255, 255, 1) 90%, rgba(255, 255, 255, 0) 100%);
}

#sideWallLeft{
    margin-left: -2%;
    left: 0;
}

#sideWallRight{
    margin-right: -2%;
    right: 0;
}


#portalTop{
    position: absolute;
    width: 3.3vw;
    height: 3vw;
    margin-top: 1%;
    margin-right: 1%;
    right:0;
    content: url("images/orangePortal.png");
}

#portalBottom{
    position: absolute;
    width: 3.3vw;
    height: 3vw;
    margin-bottom: 1%;
    margin-right: 1%;
    right:0;
    bottom: 0;
    content: url("images/bluePortal.png");
}

#portalMan{
    position: absolute;
    width: 3.3vw;
    height: 3vw;
    margin-right: 1%;
    margin-top: 2%;
    right:0;
    scale: .75;
    content: url("images/portalman.png");
}

.ProjectGif{
    flex: 1 1 auto;
    position: relative;
    width: 50%;
    height: auto;
    margin-right: 0%;
    margin-top: -11%;
    margin-left: 50%;
    scale: .8;
}
.projectText{
    flex: 1 1 auto;
    position: relative;
    color: white;
    text-align: center;
    width: 56%;
}
#webotsFinal{
    margin-top: 2%;
    margin-bottom: 1%;
    height: 4%;
    font-size: 2.25vw;
    font-family: "portal-bold";
}

#webotsFinalSub{
    margin-top: 1%;
    height: 3%;
    font-size: 1.0vw;
    font-weight: lighter;
}

#webotsFinalGrade{
    margin-top: 1%;
    height: 1%;
    max-height: 1%;
    font-size: 1.0vw;
    font-weight: lighter;
    font-family: "portal-bold";
}

#heartrateFinal{
    margin-top: 2%;
    margin-bottom: 0%;
    height: 2%;
    font-size: 1.7vw;
    font-family: "portal-bold";
}

#heartrateFinalSub{
    margin-top: 0%;
    height: 2%;
    font-size: 1.0vw;
    font-weight: lighter;
}

#heartrateFinalGrade{
    margin-top: 0%;
    height: 1%;
    max-height: 1%;
    font-size: 1.0vw;
    font-weight: lighter;
    font-family: "portal-bold";
}
.projDesc{
    flex: 1 1 auto;
    position: relative;
    color: white;
    /* width: 100%; */
    font-size: .9vw;

    text-align: center;
    font-weight:bolder;
    text-align: center;
    text-justify: newspaper;
    text-wrap: wrap;
    white-space: pre;
}
#webotsDescription1{
    height: 20%;
    /* margin-top: 30%; */
}

#webotsDescription2{
    height: 20%;
    /* margin-top: 30%; */

}
#Robots{
    content: url("images/robots.gif");
}

#Heartrate{
    content: url("images/hearmonitor.gif");
}

#Koch{
    content: url("images/koch.gif");
}

#aswegodown{
    content: url("images/aswegodown.gif");
}

.infoProj{
    flex: 1 1 auto;
    position: relative;
    width: 60%;
    height: 6%;
    max-height: 6%;
    min-height: 6%;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
    user-select: none;
    margin-top: 2%;
    scale: 1.75;
    margin-left: 20%;
    font-family: "oi";
}


.infoPanelProj{
    position: relative;
    height: 30%;
    background-color: rgb(67, 65, 69);
    border-top-left-radius: 10%;
    border-bottom-left-radius: 10%;
    width: 6%;
    text-align: center;
    font-size: .4vw;
    color: white; 
    margin-left: 2%;
}
.infoTextProj{
    position: relative;
    height: 30%;
    border-top-right-radius: 10%;
    border-bottom-right-radius: 10%;
    width: 5%;
    text-align: center;
    font-size: .4vw;
    color: white; 
    /* margin-top: -.92%; */
    /* margin-left: 6%; */
}

#buildDateTextProj{
    width: 8%;
}

#buildDateProj{
    background-color: blueviolet;
    width: 7%;
}

#caregoryTextProj{
    width: 10%;
}

#categoryProj{
    background-color: rgb(132, 37, 51);
    width: 10%;
}

#languageTextProj{
    width: 8%;
}

#languageProj{
    background-color: rgb(124, 65, 109);
    width: 5%;
}

#categoryTextProj{
    width: 8%;
}

#categoryProj{
    background-color: rgb(77, 179, 135);
    width: 5%;
}

#coreTextProj{
    width: 10%;
}

#coreProj{
    background-color: rgb(49, 98, 157);
    width: 14%;
}

#engineTextProj{
    width: 7%;
}

#engineProj{
    background-color: rgb(222, 159, 72);
    width: 10%;
}

#portalFont{
    font-family: "portal";
}



/* projects */


@keyframes fadeIn {
    0% {
        clip-path: inset(0% 100% 0% 0%);
    }
    100% {
        clip-path: inset(0% 0% 0% 0%);
    }
}

@keyframes increaseSize {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}

@keyframes fallLeft {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(320vh) translateX(-60vw) rotate(-450deg);
    }
}

@keyframes fallRight {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(320vh) translateX(70vw) rotate(450deg);
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-720deg);
    }
}

@keyframes movePacman {
    from {
        transform: translateX(0px);
    }
    to {
        transform: translateX(100vw);
    }
}

@keyframes hoverSteam {
    from {
        filter:brightness(100%);
        transform: scale(1);
    }
    to {
        filter:brightness(400%);
        transform: scale(1.05);
    }
}

@keyframes hoverHome {
    from {
        filter:contrast(100%);
        transform: scale(1);
    }
    to {
        filter:contrast(0%);
        transform: scale(1.05);
    }
}

@keyframes barStart {
    from {
        height: 0%;
    }
    to {
        height: 75%;
    }
}












